.page {
    display: grid;
  }
  
  .sidebar {
    .site-title {
      padding-left: .5em;
    }
  }
  
  .main {
    padding-left: 1em;
    padding-right: 1em;
  }

@media (min-width: 760px) {
  .page {
    grid-template-columns: 20vw auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
  .sidebar {
    position: fixed;
    width: 20vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 10vh;
    grid-row-gap: 1em;
    //padding-left: 1em;
    .site-nav {
      padding-left: 1em;
    }
    .rights_social {
      text-align: center;
      margin: auto 0;
    }
  }
  .main {
    grid-column-start: 2;
    padding-top: 4em;
    padding-left: 1em;
    padding-right: 1em;
  }
}
