//https://codepen.io/chriscoyier/pen/gGNLJY
.post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  a {
    text-decoration: none;
  }
}
.post-grid__item {
  display: block;
  //grid-template-columns: 1fr;
  //grid-column-gap: 1em;
  //grid-row-gap: 1em;
  text-align: center;
  a {
    text-decoration: none;
  }
  img {
    max-height: 80vh;
    margin-bottom: .5em;
  }
}
.grid__item {
  position: relative;
  width: 100%;
  background-size: cover;
  //border: 1px solid #ccc;
  
  &:nth-child(1) {
    grid-column: 1 / 2; 
  }
  &:nth-child(2) {
    grid-column: 2 / 3; 
  }
  &:nth-child(3) {
    grid-column: 3 / 4; 
  }
   
  &:before {
    content: "";
    height: 0;
    display: inline-block;
    padding-top: 100%;
    width: 1px;
    position: relative;
  }
  .item__label {
    background-color: #FAFAFA;
    color: #757575;
    padding: .5em;
  }
}

@media (min-width: 760px) {
  .post-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}