---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <section class="post-grid__item">
    {% for image in page.images %}
    <div><img class="item item{{ forloop.index }}" src="/assets/images/{{ page.collection }}/{{ image }}"></div>
    {% if forloop.index == 1 %} 
    <strong>{{ page.title | escape }}</strong>
    <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          {{ page.date | date: date_format }}
        </time>
        {% if page.author %}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {% endif %}</p>
    {% endif %}
    {% assign content = page.content | strip_newlines %}
    {% if forloop.index == 1 and content != "" %}
    <div class="wrapper">{{ content }}</div>
    {% endif %}
    {% endfor %}
    
    {% if page.previous.url %}
     <a class="item prev" href="{{ page.previous.url }}">⇠ {{ page.previous.title }}</a>
    {% endif %}
    {% if page.next.url %}
    {% if page.previous.url %} | {% endif %}<a class="item next" href="{{page.next.url}}">{{page.next.title}} ⇢</a>
    {% endif %}
  </section>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
